body{
    background-image: url("../img/background.jpg" ); 
    background-size: 100%;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.heading-name {
    font-family: sans-serif;
    padding: 5%;
    font-size: 60px;
    font-weight: 600;
    filter: drop-shadow(0 0 5px #7C7C7C);

}

.subheading{
    font-size: 18px;
}
.heading-img-div{
    /* width: 90%; */
}

.heading-img{
    border-radius: 50%;
    margin:30% 100% 10% -50% ;
    border: 2px solid #cddc39;
    filter: drop-shadow(0 0 30px #7C7C7C);
}

.center-div{
    padding:0% 6% 6% 6%;
    filter: drop-shadow(0 0 5px #7C7C7C);

}
.social-media-icon{
    margin-left: 5%;
    width: 60px;
}
.text-para{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding:0% 5% 0% 5%;
}